.dashboard{
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/images/space.jpg');
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    .fade{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.774);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 20px;
        }
    }
}