.grid{
    height: 100%;
    color: white;
    overflow-y: scroll; 
    table{
        width: 100%;
        th{
            width: 50%;
            color:#333333
        }
        td{
            width: 50%;
            text-align: center;
            height: 100px;
            background-color: white;
            color: black;
        }
    }
}