.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(175, 156, 167);
    color: #262228;
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    position: absolute;
    width: 100%;
    h1{
        font-family: 'Lalezar', cursive;
        height: 100%;
        background-color: rgb(175, 156, 167);
        display: flex;
        align-items: center;
        padding: 10px;
    }
    a{
        padding: 10px;
        transition: 200ms;
        font-weight: 700;
    }
    a:hover{
        cursor: pointer;
        color: white;
        }
}