.main{
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    font-family: 'Open Sans', sans-serif;
    .container{
        width: 95%;
        display: flex;
        flex-direction: row;
        .filter{
            width: 20%;
            height: 100%;
            background-color: white;
            color: #333333;
            .header{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                h1{
                    font-size: 20px;
                    width: 100%;
                    padding: 10px;
                }
            }
            .filter-by{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 50%;
                .input-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2{
                        width: 80%;
                        font-weight: 700;
                        font-size: 15px;
                        padding-bottom: 5px;
                        color: #333333;
                    }
                    input{
                        width: 80%;
                        border:none;
                        border-bottom: 1px solid black;
                        background-color: transparent;
                    }
                    input::placeholder{
                        font-size: 15px;
                        color: #333333;
                    }
                    input:focus{
                        outline: none;
                    }
                    button{
                        margin-top: 10px;
                        padding: 5px;
                        background-color: rgb(255, 255, 255);
                        color: #333333;
                        border: 1px solid #333333;
                        font-weight: 700;
                        border-radius: 0;
                        transition: 200ms;
                    }
                    button:hover{
                        background-color: #333333;
                        color: white;
                        cursor: pointer;
                    }
                    button:focus{
                        outline: none;
                    }
                    
                }
                .resetSearch{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    button{
                        margin-top: 10px;
                        padding: 10px;
                        background-color: rgb(255, 255, 255);
                        color: #333333;
                        border: 1px solid #333333;
                        font-weight: 700;
                        border-radius: 0;
                        transition: 200ms;
                    }
                    button:hover{
                        background-color: #333333;
                        color: white;
                        cursor: pointer;
                    }
                    button:focus{
                        outline: none;
                    }
                }
            }
        }
        .view-container{
            width: 80%;
            position: relative;
            background-color: #d4d4d4;
            .header{
                background: #333333;
                color: white;
                font-family: 'Open Sans', sans-serif;
                height: 40px;
                width: 100%;
                position: absolute;
                nav{
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50%;
                    }
                }
                nav:hover{
                    cursor: pointer;
                }
            }
            .view-content{
                height: 100%;
                padding-top: 40px;
                .tickets{
                    height: 100%;
                }
                .grid{
                    height: 100%;
                }
            }
        }
    }
}
@media (max-width: 900px){
    .main{
        .container{
            flex-direction: column;
            width: 95%;
            .filter{
                height: 30%;
                width: 100%;
                .filter-by{
                    flex-direction: row;
                    .input-container{
                        width: 300px;
                    }
                    .resetSearch{
                        align-items: center;
                    }
                }
            }
            .view-container{
                height: 70%;
                width: 100%;
            }
        }
    }
}
@media (max-height: 500px){
    .main{
        .container{
            .filter{
                height: 50%;
            }
            .view-container{
                height: 50%;
            }
        }
    }
}